.title {
    font-size: 50px;
    text-align: center;
}

.list {
	list-style: none;
}

.home-action {
    text-align: center;
}

.right {
	text-align: right;
}

.form-control {
  width: 20%;
}

.causes {
	height: 310px !important ;
}

.legislators {
	font-size: 16px;
	text-align: left;
}

.zip {
	font-size: 16px;
	margin-top: 50px;
	text-align: center;
}

.choose {
	font-size: 16px;
	margin-top: 25px;
}

.causesList {
	font-size: 16px;
}

.settings {
	margin-left: 25px;
}
