<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script async src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  href="css/style.css" />
</head>
<body>
<div class="title">
HOMEPAGE

<br>

<form action="/submit_home" method="get">
  <div class="right zip">
    Zip code: <input class="form-control" type="text" pattern="[0-9]{5}" name="zipcode" title="Five digit zip code" required>
  </div>

  <% if (message) { %>
    <% if (message.error) { %>
      <div class="errorMessage"><em><%= message.error %></em></div>
    <% } %>
  <% } %><br>

  <div class="choose">
    Choose 3-5
  </div>

  <div class="causesList">
    <select multiple class="causes form-control" name="causes" required>
      <% for(var key in categories) {%>
         <option><%= key %></option>
      <% } %>
    </select>
  </div>

  <div class="home-action">
    <button class="btn btn-primary btn-lg" formaction="/submit_home" type="submit">
      Grieve It
    </button>
  </div>
</form>

</body>
</html>
