<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script async src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  href="css/style.css" />
</head>
<body>
<div class="title">
Next

<br><br>
Zipcode:
<%= zipcode %>
<br><br>

Causes
<% for(var i=0; i<causes.length; i++) {%>
   <li><%= causes[i] %></li>
<% } %>
</body>
</html>
